/* Navigation bar styling */
#headerNavigation {
    display: flex;
    justify-content: space-between;
    color: white;
    position: relative;
    top: 0;
    left: 0;
    padding: 10px 10px;
    ;
}

#logo {
    width: 50px;
    height: auto;
}

#navigation {
    display: flex;
    gap: 10px;
    align-items: center;
}

#navigation a {
    text-decoration: none;
    color: #F6F4EB;
    padding: 8px 16px;
    display: inline-block;
    background-color: transparent;
}

#navigation a:hover {
    background-color: #4893C3;
    color: #F6F4EB;
}

#headerTitle {
    font-family: fantasy;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#subTitle {
    font-family: sans-serif;
    color: #F6F4EB;
}

/* main section styling */


#outerBox {
    display: flex;
    margin-top: 10px;
    gap: 15%;
    justify-content: center;
    align-content: center;
}

/* slideshow styling */
.slider {
    width: 1000px;
    height: 400px;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

#quotes {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: rgb(40, 40, 43) ;
    font-size: medium;

}

/* form styling */
#form {
    background-color: #AAB8C2;
    color: #F6F4EB;
    padding: 10px;
    border-radius: 10px;
    height: 400px;
}

#name,
#email,
#destination {
    width: 100%;
    padding: 5px 5px;
    margin: 8px 0;
    box-sizing: border-box;
    border-color: greenyellow;
    border-radius: 10px;
}

input[type=submit] {
    display: flex;
    width: 50%;
    background-color: black;
    border-radius: 10px;
    color: white;
}


.center-button {

    display: block;
    margin: 10px auto 0;
    justify-content: center;
}

/* travel destination styling */
#countries {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: center;
}

.travelDestination {
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.travelDestination h3 {
    text-align: center;
}

/* footer styling */

#footer {
    position:static;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #fff;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
}

ul {
    list-style-type: none;
    text-decoration: none;
}

#socialMedia li {
    list-style-type: none;
    display:inline;
    margin-right: 100px; 
}

#socialMedia li a {
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: transparent;
  color: #272829;
  transition: background-color 0.3s ease;
}

#socialMedia li a:hover {
    background-color: #fff;
    color: #333;
}

#footer h5 {
    font-size: 14px;
    text-align: center;
  }



/* outer body styling */
body {
    background-image: url('https://img.freepik.com/premium-photo/summer-vacation-travel-trip-planned-concepts-background-holiday-event-traveling-generative-ai_106651-7675.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

/* mobile responsive design styling */
@media screen and (max-width: 600px) {
    #headerNavigation {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #navigation {
        margin-top: 1rem;
    }

    #headerTitle {
        padding: 1rem 0;
    }

    #outerBox {
        flex-direction: column;
        text-align: center;
    }

    #formInput {
        max-width: 100%;
        text-align: center;
    }

    #name,
    #email,
    #destination {
        width: 50%;
        text-align: center;
    }

}